<p id="notice"><%= notice %></p>

<h1 class="neh-labor"><span class="invisible">Labor Studies & Work</span></h1>
<p>From its start, Temple University Press has been known for publishing significant titles in labor studies. Given this long history, many of these titles have gone out of print. Thanks to a grant from the National Endowment for the Humanities, the Press, in collaboration with Temple University Libraries, has reissued 30 outstanding labor studies books in PDF,  EPUB, and MOBI formats and made them freely available online. Chosen by an advisory board of scholars, labor studies experts, publishers, and librarians, each book contains a new foreword by a prominent scholar, reflecting on the content and placing it in historical context.
</p>
    <% @oabooks.each do |oabook| %>
    <div class="neh-book">
        <%= link_to image_tag(oabook.cover_image.url.to_s, alt: oabook.title, style: 'height:120px;'), root_path+"open-access/labor-studies/"+oabook.id.to_s %>
        <%= link_to oabook.title, root_path+"open-access/labor-studies/"+oabook.id.to_s %>
    </div>
    <% end %>

