<div class="row">
<div class="col">
<h1>Catalogs</h1>
</div>
</div>

<div id= "catalogs">

<div class="row">
<div class="col">
<% @catalogs.each do |catalog| %>
	<h2 style="padding: 28px;border-bottom:solid #ccc 1px;">
		<%= link_to catalog.title, {controller: :book, action: :catalogs_by_season, :id => catalog.id} %>
	</h2>
<% end %>
</div>
</div>

</div>