<div class="row">
<div class="col">
<h1>Catalogs</h1>
</div>
</div>

<div class="container" id= "catalogs">

<div class="row">
	<div class="col">
		<% @catalogs.each do |catalog| %>
		<ul class="list-inline">
			<li>
				<%= link_to catalog.title, {controller: :book, action: :catalogs_by_season, :code => catalog.code} %>	
			</li>
		</ul>
	<% end %>
	</div>
</div>

</div>