<div class="row">
	<div class="col">
		<h1>Exam &amp; Desk Copy Policy</h1>
	</div>
</div>

<div class="container" id="copy-policy" style="margin-top:21px;">

	<div class="row">
		<div class="col">
			<h2>Examination Copies</h2>
		</div>
	</div>

	<div class="row">
	<div class="col">
		<p>We invite faculty to write or fax on departmental letterhead or from a university email address for an examination copy of any paperback title (maximum of three per semester) you wish to consider for course adoption. Please state course title, semester, and projected enrollment with your request. For additional details, contact: examcopy@temple.edu. Please ask about our Digital Exam Copies.</p>
		<p>Mail your request to:</p>
				<address class="offset-md-1">
				Temple University Press <br />
				Attn: Exam/desk Copy Request<br />
				TASB<br />
				1852 North 10th Street<br />
				Philadelphia, PA 19122<br />
				</address>
			<p class="offset-md-1">Fax: 215.926.2141</p>
		</div>
	</div>

	<div class="row">
		<div class="col"><h2>Desk Copies</h2></div>
	</div>
	<div class="row">
		<div class="col">
		<p>For desk copies, please provide course I.D., projected enrollment, semester class will be given, and the name of the bookstore that will be placing the order and send your request to the above address. Please contact 
		<%= mail_to "anderson@temple.edu", "Ann-Marie Anderson", subject: "Desk Copies" %>
		, Marketing Director, for details on hardcover books for course use.</p>
		</div>
	</div>

</div>