
	<div class="row">
		<div class="col">
			<h1>Copyright Policy</h1>
		</div>
	</div>

	<div class="row">
		<div class="col">
			The Temple University Press website and all its content are copyrighted by and the property of Temple University. Content may be downloaded or printed for one-time personal use only. Links from other web sites to this site do not constitute Temple University Press's endorsement of those web sites, and Temple University Press requests notification of such linkages. Notification should include a description, http address, and purpose of the web site; these notifications should be sent to the Temple University Press webmaster. Links from this web site to other sites are determined by the Temple University Press Web Development Committee.
		</div>
	</div>

