<div id="scHotOffThePress">
        <img src="img/hotoffthepress.gif" alt="Hot Off The Press" style="float:left; display:block; clear:both; padding-left:10px;"><br>


        <ul class="scHotBooks">
       <br><br>
         
            <li><a href="titles/2437_reg.html"><img src="small/2437_sm.gif" alt="The Magic of Children's Gardens" width="100" height="150" border="1" align="top" style="border:1px solid #aaa;"></a><a href="titles/2437_reg.html"><span class="scBookTitle">The Magic of Children's Gardens</span><br>
Inspiring Through Creative Design </a><br>
Lolly Tai, with a Foreword by Jane L. Taylor 

 <br>

<p><em>"[A]n unparalleled resource for anyone—whether landscape designer, horticulturist, educator, or community leader—who seeks a better understanding of how the design of contemporary children's gardens has evolved to most effectively spark the interest and imagination of today's kids. Lolly Tai has compiled detailed profiles of exemplary gardens across America, each including design intents, plant lists, technical details, and inspirational photos and plans. Those charged with envisioning, maintaining, or enhancing children's gardens need to have this comprehensive work on their bookshelves."
	</em><br>—<strong>Tom Underwood</strong>, Executive Director of the American Horticultural Society
     </p></li><br> 
           
               <li><a href="titles/2115_reg.html"><img src="small/2115_sm.gif" alt="Sesqui!" width="100" height="150" border="1" align="top" style="border:1px solid #aaa;"></a><a href="titles/2115_reg.html"><span class="scBookTitle">Sesqui!</span><br>
Greed, Graft, and the Forgotten World's Fair of 1926</a><br>
Thomas H. Keels <br>

     <p><em>"In his portrayal of the 1926 Sesqui-Centennial, Tom Keels has once again opened a wide, insightful and revealing historical lens on Philadelphia....</em>Sesqui! <em>is a great read that helps us better understand urban America in the early twentieth century."</em>
    <br>—<strong>Sam Katz</strong>, Executive Producer, History Making Productions
     </p></li><br><br>
         
          <li><a href="titles/2378_reg.html"><img src="small/2378_sm.gif" alt="Shaming the Constitution" width="100" height="150" border="1" align="top" style="border:1px solid #aaa;"></a><a href="titles/2378_reg.html"><span class="scBookTitle">Shaming the Constitution</span><br>
The Detrimental Results of Sexual Violent Predator Legislation</a><br>
Michael L. Perlin and Heather Ellis Cucolo <br>
     <p>    <em>"With standout sophistication and depth, the authors interweave law with social and behavioral sciences to lay the foundation for a scathing critique of current policy, advancing the public discourse especially by their discussions of international and comparative law and therapeutic jurisprudence. This book is a must-read for policy makers, advocates, judges, and students of sexual violence prevention."</em>
    <br>—<strong>Eric S. Janus</strong>, Professor of Law and former President and Dean, Mitchell Hamline School of Law
     </p></li><br>
     
          <li><a href="titles/2435_reg.html"><img src="small/2435_sm.gif" alt="Somalis in the Twin Cities and Columbus" width="100" height="150" border="1" align="top" style="border:1px solid #aaa;"></a><a href="titles/2435_reg.html"><span class="scBookTitle">Somalis in the Twin Cities and Columbus</span><br>
Immigrant Incorporation in New Destinations</a><br>
Stefanie Chambers<br>

     <p><em>"[A] very timely and powerful contribution to the national debate on the admission of Muslim refugee immigrants to the American heartland. By judiciously comparing the political, economic, and social incorporation of Somalis in two distinct urban settings, Chambers demonstrates convincingly the crucial roles of historical context, state culture, and public policy in defining the degrees of success in immigrant integration."
</em><br>
—<strong>Pei-te Lien</strong>, University of California Santa Barbara, and co-author of <em>Contested Transformation: Race, Gender, and Political Leadership in 21st Century America</em>
     </p></li><br> <br>
     
           
        <li><a href="titles/2440_reg.html"><img src="small/2440_sm.gif" alt="Risking Life and Lens" width="100" height="150" border="1" align="top" style="border:1px solid #aaa;"></a><a href="titles/2440_reg.html"><span class="scBookTitle">Risking Life and Lens</span><br>
A Photographic Memoir</a><br>
Helen M. Stummer<br>

     <p><em>"[A]n extraordinarily personal glimpse into the life and work of a photographer who has spent her career consumed with documenting social injustice and those it has affected most.... This book is a must-read for anyone interested in the humanity of our urban cities."</em><br>
—<strong>John Cyr</strong>, photographer and author of <em>Developer Trays</em>
     </p></li><br> <br><br>
     
       
        <li><a href="titles/2253_reg.html"><img src="small/2253_sm.gif" alt="Envisioning Emancipation" width="100" height="150" border="1" align="top" style="border:1px solid #aaa;"></a><a href="titles/2253_reg.html"><span class="scBookTitle">Envisioning Emancipation</span><br>
Black Americans and the End of Slavery</a><br>
Deborah Willis and Barbara Krauthamer<br>
<font color="#990033">New in Paperback!</font>

     <p><em>"[A]n illuminating and inspiring look at the men and women who enabled, lived through, and were affected by the landmark event of emancipation. With a stunning collection of photographs accompanied by engaging new scholarship, this book is sure to have a vital and important impact on the way Americans see our nation and ourselves."
</em><br>—<strong>Thelma Golden</strong>, Director and Chief Curator of the Studio Museum of Harlem
     </p></li><br> <br>
     
     
       
     
        
    
     
     
                 
     
         </ul>
      </div>