
<div class="row">
    <div class="col">
        <h1 style="margin-top:0;padding-top:0;">
        		<%= image_tag 'nbp_banner.jpg', alt: 'North Broad Press', style: 'max-width:100%;' %>
        </h1>
        <h1 class="text-center"><%= title @page.name %></h1>
        <div class="container">
            <%= @page.content.html_safe if @page.content.present? %>
        </div>
    </div>
</div>