<div class="row">
	<div class="col">
		<h1><%= @page.name %></h1>
	</div>
</div>

<div class="container" id="ordering">
	<div class="row">
		<div class="col">
			<%= @page.content.html_safe %>
		</div>
	</div>
</div>