<div class="container">
	<div class="row">
		<h1>Ordering Information</h1>
		<div class="row">
		<div class="col">
			<p>We encourage customers to purchase our books through their local bookstores. If your bookstore is unable to stock our titles or you find it impractical to order locally, you may order directly from us.</p>
			</div>
			</div>
	</div>

<h2>Order online</h2>
	<div class="row">
		<div class="col">
			<p>Online ordering is easy and secure. Each individual book page has a link that reads, "Buy this Book." Simply click the link, and you'll be taken to an order page. Add the book to your shopping cart, and you can check out any time you like.  You always have the option of updating or removing items placed in your shopping cart before placing your order.</p>
		</div>
	</div>

<div class="row">
<div class="col"><h2>Call toll-free in the United States</h2>
<div class="row">
	<div class="col">
		<ul>
			<li>1.800.621.2736</li>
			<li>For international orders, call 773.702.7000</li>
			<li>Please have your your credit card handy.</li>
		</ul>
	</div>
</div>
</div>
</div>

<div class="row">
<div class="col"><h2>Fax the order form</h2>
<div class="row">
	<div class="col">
		<p>Download the order form (see note below) and fax it to:</p>
		<ul>
			<li>1.800.621.8476 (United States)</li>
			<li>773.702.7000 (International)</li>
		</ul>
	</div>
</div>
</div>
</div>

<div class="row">
<div class="col"><h2>Mail the order form</h2>
<div class="row">
	<div class="col">
		<p>Download the order form (see note below) and mail it to:</p>
			<address class="offset-md-1">
			Temple University Press <br />
			c/o Chicago Distribution Center <br />
			11030 South Langley Avenue <br />
			Chicago, IL 60628<br />
			</address>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>Make Checks Payable to Temple University Press.</p>
		</div>
		</div>
	</div>
</div>



<div class="row" style="margin-top: 28px;">
	<div class="col">
		<strong>Note:</strong> The order form is a writeable pdf document that uses the Adobe Reader® 4.0 or higher (free download). Fill out the order form directly from your computer and then print it out. You can save this form and modify your order at any time, but you will need to fill in boxes for the sales tax, shipping &nbsp; handling, and total after printing it. Please remember to sign the form if paying with a credit card.
	</div>
</div>
</div>