<div class="container">
	<div class="row">
		<div class="col">
			<h1>Payment Terms</h1>
		</div>
	</div>
</div>

<div class="container" id="payment" style="margin-top:21px;">
	<div class="row">
		<div class="col">
			<h2>Terms and Conditions of Sale</h2>
			<ul>
				<li>All direct orders must be prepaid by credit card (VISA, MasterCard, AmEx, Discover), check, or money order. Payment must be in U.S. dollars drawn on a U.S. bank account and made payable to Temple University Press.</li>
				<li>Shipping and handling: Unless specified, all orders shipped within the continental U.S. will be shipped via UPS ground. Add $5.00 for the first book and $1.00 for each additional. Allow 7-10 working days for delivery.</li>
				<li>For international orders, add $9.50 for the first book and $5.00 for each additional book. Allow six weeks for overseas delivery.</li>
				<li>IL residents add 9.75% sales tax, PA residents add 8% sales tax. Canadian residents add 5% GST.</li>
				<li>For customer service inquiries, call 1.800.621.2736. Outside the U.S. call 733.568.1550.</li>
			</ul>
		</div>
	</div>


<div class="row">
<div class="col">
<h2>Returns Policy</h2>
		<p>Current editions of clean, saleable books are eligible for full credit at invoice discount if returned within two years of invoice date. Invoice information is required. Books returned without invoice information or beyond the time period will be credited at 50% of list. Books marred by non-removable labels will not be accepted. Books received in damaged or defective condition must be returned within sixty days. All CD's are non-returnable unless damaged. Returns, marked clearly with invoice numbers, should be shipped to:</p>
				<address class="offset-md-1">
				Returns Department<br />
				Temple University Press <br />
				c/o Chicago Distribution Center <br />
				11030 South Langley Avenue <br />
				Chicago, IL 60628<br />
				</address>
			</div>
		</div>
	</div>

