
	<div class="row">
		<div class="col">
			<h1>Submissions</h1>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<h2 class="grey-back">What Should You Send?</h2> 
        <p>The following guidelines address the questions potential authors most often ask the editors about submitting new projects. </p>
        <p> We prefer to receive all materials  by email. However, if you do send hard copies of any materials, please include a return envelope with postage so they may be sent back to you in the event that we do not pursue the project. Please do not mail original artwork; the Press cannot be responsible for one-of-a-kind materials.</p>
        <p> Most proposals should include the following:</p>
        <ul>
			    <li>title and subtitle</li>
			    <li>names and affiliations of all authors/editors/contributors and CVs for authors/editors</li>
			    <li>overview of the project (from a few paragraphs to a few pages)</li>
			    <li>table of contents with a short description of each chapter</li>
			    <li>your sense of the primary audience—e.g., academics, graduate or undergraduate students, the general public (if the book is intended for classroom adoption, please list the courses for which you think it would be most appropriate)</li>
			    <li>paragraph describing what makes you the right author for this project</li>
			    <li>any sample material you can provide, up to and including the complete manuscript</li>
			    <li>assessment of how much material has been or will be published/reprinted elsewhere</li>
			    <li>projected word count and number of photos, tables, graphs, etc.</li>
			    <li>brief descriptions of competing or comparable books (comparable is a key word here—even if there are no directly competing books, books on similar topics are important reference points in our decision-making process)</li>
			    <li>status of the manuscript and timeline for completion</li>
			    <li>statement about whether the project is being sent to other publishers for review </li>
				</ul>
			</div>
	</div>

	<div class="row">
		<div class="col">
			<h2 class="grey-back">To Which Editor?</h2>
			<p>If you have a project that you would like to submit to the Press, you can send your proposal and sample materials directly to the editor responsible for acquiring in your field. If you have any questions about which editor would be most appropriate for your project, please contact <%= mail_to 'm.d.miller@temple.edu', 'Nikki Miller' %>, Editorial Assistant.</p>
			<p>
				<%= mail_to 'aaron.javsicas@temple.edu', 'Aaron Javsicas' %><br>
	      <em>Editor-in-Chief</em><br>
	      Oversees the editorial program, acquires titles in Political Science, Urban Studies, and the Philadelphia region.
	    </p>
	    <p><%= mail_to 'sara.cohen@temple.edu', 'Sara Cohen'%><br>
	      <em>Editor</em><br>
	      Acquires titles in Literature, Sexuality Studies, and Asian American Studies. 
	    </p>
	    <p><%= mail_to 'ryan.mulligan@temple.edu', 'Ryan A. Mulligan' %></a><br>
	      <em>Editor</em><br>
	      Acquires titles in Sociology, Criminology, and Sports. 
	    </p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<h2 class="grey-back">To What Address?</h2>
				<address>
          <strong>for USPS</strong><br />
          Temple University Press<br />
          TASB<br />
          1852 N. 10th Street<br />
          Philadelphia PA 19122<br />
      	</address>
      	<address>
	        <strong>for UPS/FedEx</strong><br />
		      Temple University Press<br />
		      2450 West Hunting Park Ave.<br />
		      Philadelphia PA 19129<br />
		    	Phone: 215.926.2140<br />
		      Fax: 215.926.2141
      	</address>
    	</div>
   </div>







