
	<div class="row">
		<div class="col">
			<h1>About University Presses</h1>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p>It may be easier to describe a university press by saying what it's not. University presses don't publish college newspapers, yearbooks, or course packs. And if you visit a university press, you won't find a printing press.</p>
			<p>University presses are publishers. At the most basic level that means they perform the same tasks as any other publisher. University presses acquire, develop, design, produce, market and sell books and journals, just like Random House or Condé Nast. But while commercial publishers focus on making money by publishing for popular audiences, the university press's mission is to publish work of scholarly, intellectual, or creative merit, often for a small audience of specialists or a regional community of interest.</p>
			<p>University presses also differ from commercial publishers because of their place in the academic landscape. A university press is an extension of its parent institution, and it is also a key player in a more general network—including learned societies, scholarly associations, and research libraries—that makes the scholarly endeavor possible. Like the other nodes in this network, university presses are charged with serving the public good by generating and disseminating knowledge. That's why the government has recognized our common interest in the work of university presses and similar mission-driven scholarly publishers by granting them not-for-profit status.</p>
			<p>Many of the books university presses publish, then, are meant primarily for scholars or other people interested in certain concentrated fields of research. Thousands of these books (generally termed monographs) have been published, on topics ranging from the meaning of gambling in nineteenth-century America to the changing nature of Balinese gamelan music. Monographs are generally sold in hardcover editions to libraries, in paperback editions so that they may be used as supplemental reading in college courses, and now in electronic formats.</p>
			<p>Though scholarship is central to the mission of university presses, most also publish books of more general interest. That might mean narrative history, or poetry, or fiction translated from other languages. As commercial publishers increasingly turn away from books that are deemed unlikely to make a lot of money, university presses have found new fields to publish in and new audiences for their books. Because university presses are located all over the country, they also specialize in publishing books about the culture and history of different parts of America that attract less attention from commercial houses. You'll find general interest titles from university presses alongside the bestsellers at your local bookstore.</p>
			<p>Courtesy of the <%= link_to 'Association of American University Presses', 'http://aaupnet.org/' %></p>
  	</div>
  </div>







