<div class="container" id="links">

<div class="row">
	<div class="col">
		<h1>Links</h1>
	</div>
</div>

<div class="row">
	<div class="col">
  	<div class="container">
  	 <ul class="list-group">
      <% @links.each do |link| %>
       <li class="list-group-item"><%= link_to link.title, "http://"+link.link %></li>
      <% end %>
      </ul>
    </div>
	</div>
</div>

</div>