/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

	@import "bootstrap";

	body {
		background-color: #990033;
	}

	h1 {
		font-size: 28px;
		margin-bottom: 21px;
	}
	h1.book_title {
		margin-bottom: auto;
	}
	h2 {
		font-size: 21px;
	}
	h3 {
		font-size: 16px;
	}
	blockquote {
		font-size: 100%!important;
	}

	.blockquote-footer.blockquote-reverse {
		font-size: 100%;
	}
	.flash {
		background-color: cornsilk;
		padding:10px;
		width: 100%;
		text-align: center;
		margin-bottom: 21px;
		color: green;
		.error {
			color: red;
		}
	}
	a:not(.dropdown-item) {
			color: #903;
		a:active, a:hover, a:visited {
			color: #903;
		}
	}
	#content {
		background-color: #fff;
		padding-bottom: 42px;
	}
  #skip-link {
  	left: 50%;
    margin-left: -5.25em;
    margin-top: 0;
    position: absolute;
    width: auto;
    z-index: 50;
    a, a:visited, a:link {
    	background: rgba(0,0,0,0.6);
	    color: white;
	    display: block;
	    font-size: 0.94em;
	    line-height: 1.7;
	    padding: 1px 10px 2px 10px;
	    text-decoration: none;
    }
  }
	 .element-invisible {
	 	position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    overflow: hidden;
    height: 1px;
	 }
	 form {
	 	#q-error, #email-error {
		 	color: red;
		 	font-size: 85%;
		 }
	}
	#main-nav {
		margin: 21px auto;
	}
	
	 #NewsletterSubscription {
	 		text-align: center;
		 	#email {
			 	width: 90%;
			 	margin-bottom: 10px;
		 }
		}
	 #search-block {
	 	float: right;
	 	padding:21px;
	 }
	ul#alphamenu {
 		margin: auto;
 		color: #ccc;
 		li a {
 			padding: 0 6px;
 			color: #903;
 		}
 		li::after {
			content: " | ";
		}
	}
.no-padding {
	padding: 0;
}
.byline{
	padding-left: 28px;
	font-style: italic;
	}
#scNewsletter, #scBlogContent {
	padding: 14px;
	/*background-color: #f7f7f7;*/
	/*border-radius: 7px;*/
	margin-bottom: 21px;
	border-top: solid #bbb 1px;
	border-bottom: solid #bbb 1px;
	.blog-icon {
		display:inline-block;
		width: 100%;
		text-align:center;
		margin-bottom: 10px;
	}
	.small {
		line-height: 1.25em;
		margin-bottom: 7px;
		width: 90%;
		margin:auto;
	}
}
#scBlogContent {
	margin-bottom: 0;
	line-height:1.1;
	p {
		margin-bottom: 0;
	}
}
#follow-us {
	margin-top: 14px;
	text-align: right;
	padding-right: 14px;
}
#bottom-row {
	margin-top:28px;
	.col-md-3 {
		margin: 0 2.5%;
		padding: 28px;
		background-color: #f7f7f7;
		border: solid #bbb 1px;
		border-radius: 7px;
		h2 {
			font-size: 115%;
		}
	}
}
#footer {
	padding-bottom: 28px;
	color: #bbb;
	a {
		color: $white
	}
}
.social-icon {
	width:29px;
	border:0;
}
.new-book {
	line-height:1.1;
	margin-top: 10px;
	p {
		text-align:justify;
		padding: 0 28px;
		margin-top: 10px;
		line-height: 1.25em;
		font-size: 85%;
	}
}
#edit-form {
	label {
		font-weight: 600;
	}
	.row {
		margin-bottom: 21px;
	}
}