// Place all the styles related to the book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#book_show {
	h2 {
		margin-top: 28px!important;
	}
}
.award {
	color: #963;
}
div.author {
	font-size: 150%;
	font-weight: 600;
	color: #aaa;
	display: block;
	clear: both;
	margin-bottom: 21px;
	margin-top: 10px;
}
span.author {
	font-weight: 600;
	color: #aaa;
}
.description, .review, .about_author, .subjects, .series {
	margin: 7px 21px;
}

.blurb {
	color: #903;
}
.editors {
	padding-left: 10px;
}