// Place all the styles related to the book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-row {
	padding: 28px;
	border-bottom:solid #ccc 1px;
	.media {
		text-align:center;
		img {
			width:140px;
		}
	}
	p.format {
		font-size: 65%;
	}
	p.subtitle {
		font-style: italic;
	}
}
.empty-warning {
	margin-top: 28px;
}
#catalogs {
	li {
		padding: 28px;
		border-bottom:solid #ccc 1px;
		font-size: 1.35rem;
		background-color: #f7f7f7;
	}
}
#book_show {
	h1 {
		padding-top: 10px;
	}
	h2 {
		margin-top: 28px!important;
	}
}
.award {
	color: #963;
}
div.author {
	font-size: 150%;
	font-weight: 600;
	color: #aaa;
	display: block;
	clear: both;
	margin-bottom: 21px;
	margin-top: 10px;
}
span.author {
	font-weight: 600;
	color: #aaa;
}
.description, .review, .about_author, .subjects, .series {
	margin: 7px 21px;
}
.book-info {
	margin-top: 21px;
}
.blurb {
	color: #903;
}
.editors {
	padding-left: 10px;
}

.s_twitter {display:inline-block;height:42px;width:42px;background-image:url(twitter-icon-sm.png);cursor:hand;cursor:pointer;}
.s_facebook {display:inline-block;height:42px;width:42px;background-image:url(fb-icon-sm.png);cursor:hand;cursor:pointer;}
.s_tumblr {display:inline-block;height:42px;width:42px;background-image:url(tumblr-icon-sm.png);cursor:hand;cursor:pointer;}
.s_linkedin {display:inline-block;height:42px;width:42px;background-image:url(linkedin-icon-sm.png);cursor:hand;cursor:pointer;}
.s_pinterest {display:inline-block;height:42px;width:42px;background-image:url(pinterest-icon-sm.png);cursor:hand;cursor:pointer;}
