// Place all the styles related to the book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-row {
	padding: 28px;
	border-bottom:solid #ccc 1px;
	.media {
		text-align:center;
		img {
			width:140px;
		}
	}
	p.format {
		font-size: 65%;
	}
	p.subtitle {
		font-style: italic;
	}
}
#titles, .book-row {
	h2 {
		margin-top:auto;
		background-color: transparent;
		padding:4px;
		border-left: 0;
	}
}
.empty-warning {
	margin-top: 28px;
}
#catalogs {
	li {
		padding: 28px;
		border-bottom:solid #ccc 1px;
		font-size: 1.35rem;
		background-color: #f7f7f7;
	}
}
#book_show {
	h1 {
		padding-top: 10px;
	}
	h2 {
		margin-top: 28px!important;
		background:transparent;
		border-width: 7px;
		font-size: 150%;
		padding:7px 21px;
		margin-bottom: 21px;
	}
	.social-shopping {
		padding-top:4px;
		width: 100%;
		float:right;
		.buy-it {
			float:right;
			background-color: #e5dccb;
			border: solid #bbb 1px;
			border-radius:7px;
			padding:10px;
			width: 70%;
			margin-bottom: 0;
			position:relative;
			top: 7px;
		}
		.buy-it-text {
			font-weight:600;
			font-size:105%;
		}
	}
	.social-icons {
		float:right;
		display:inline-block;
		margin-top:21px;
		padding-right:7px;
		margin-bottom:0;
	}
	p.format {
		font-size: 65%;
	}
	.subjects-group {
		margin-left: 21px;
		margin-right:21px;
		.list-group-item {
			font-size:115%;
			border: 0;
		}
	}
	ul.series li p {
		padding:10px;
		border-radius:4px;
		a, a:visited, a:active, a:hover {
			font-size:115%;
		}
	}
	p.series-title {
		background-color: #f7f7f7;
		margin-bottom: 0;
		margin-top:14px;
	}
	p.series-description {
		margin-left: 14px;
	}
}
.award {
	color: #963;
}
div.author {
	font-size: 150%;
	font-weight: 600;
	color: #aaa;
	display: block;
	clear: both;
	/*margin-bottom: 21px;*/
	margin-top: 10px;
}
span.author {
	font-weight: 600;
	color: #aaa;
}
.description, .review, .about_author, .subjects, .series {
	margin: 7px 21px;
}
.book-info {
	margin-top: 21px;
	img {
		width:240px;
	}
}
.blurb {
	color: #903;
}
.editors {
	padding-left: 10px;
}

#awards .badge-pill {
	display: inline-block;
	padding: 4px 14px;
	margin-right: 100px;
	background-color: #f0f0f0;
	color: #903;
}

.s_twitter {display:inline-block;height:42px;width:42px;background-image:asset-data-url('twitter-icon-sm.png');cursor:hand;cursor:pointer;}
.s_facebook {display:inline-block;height:42px;width:42px;background-image:asset-data-url('fb-icon-sm.png');cursor:hand;cursor:pointer;}
.s_tumblr {display:inline-block;height:42px;width:42px;background-image:asset-data-url('tumblr-icon-sm.png');cursor:hand;cursor:pointer;}
.s_linkedin {display:inline-block;height:42px;width:42px;background-image:asset-data-url('linkedin-icon-sm.png');cursor:hand;cursor:pointer;}
.s_pinterest {display:inline-block;height:42px;width:42px;background-image:asset-data-url('pinterest-icon-sm.png');cursor:hand;cursor:pointer;}
