.navbar-light {
		background-color: #903;
	.nav-item {
		/*margin-right:14px;*/
	}
	.nav-link, .nav-link:focus, .nav-link:hover {
		color: #fff!important;
	}
	.dropdown-menu {
		.dropdown-item, .dropdown-toggle {
			color: #fff;
		}
		.dropdown-item:hover, .dropdown-item:focus {
			color: #fff;
			background-color:#760027;
		}
	}
}

.navbar-toggler-left {
	position: relative!important;
  margin-left: 14px;
}

.navbar-toggler-right {
	position: relative!important;
  margin-left: 14px;
}