// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#contactform {
	.col-md-2 {
		text-align: right;
	}
	.new-section {
		margin-top: 21px;
	}
	#mailersubjects {
		display: none;
	}
	#removemailertype {
		display: none;
		padding-left:7px;
		margin-bottom: 7px;
		margin-left: 14px;
		width:80%;
		max-width:90%;
	}
	#addmailer {
		padding: 7px;
	}
}

.grey-back {
	margin-top: 21px;
	background-color:#f7f7f7;
	padding: 7px;
	border-radius:7px;
}

#carousel2 {
	.carousel-item {
		a {
			width: 100%;
		}
	}
	img {
		width: 150px;
		margin: auto;
		display: block;
	}
}
.navbar-nav {
	width: 95%;
}
#series-list {
	li {
		padding: 10px;
		min-height: 35px;	
	}
	li:nth-child(odd) {
		background-color: #f7f7f7;
	}
	.badge-pill {
		padding: 4px 14px;
	}
}
.series-editors {
	font-size: 95%;
}