// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#contactform {
	.col-md-2 {
		text-align: right;
	}
	.new-section {
		margin-top: 21px;
	}
	#mailersubjects {
		display: none;
	}
	#removemailertype {
		display: none;
		padding-left:7px;
		margin-bottom: 7px;
		margin-left: 14px;
		width:80%;
		max-width:90%;
	}
	#addmailer {
		padding: 7px;
	}
}

#carousel2 {
	.carousel-item {
		a {
			width: 100%;
		}
	}
	img {
		height: 160px;
		margin: auto;
		display: block;
	}
}
#main-nav .navbar-nav {
	width: 95%;
}
#series-list {
	li {
		padding: 10px;
		min-height: 35px;	
	}
	li:nth-child(odd) {
		background-color: #f1f1f1;
	}
	.badge-pill {
		padding: 4px 14px;
	}
}
.series-editors {
	font-size: 95%;
}
#home {
	h2 {
		margin-top:auto;
		background-color: transparent;
		padding:initial;
		border-left: 0;
	}
}
.badge-default {
	background-color: #a4a4a4!important;
}
.home-sidebar {
	margin-top:42px;
	.card {
		margin: 14px 2.5%;
		padding: 21px;
		background-color: #f7f7f7;
		border: solid #ccc 1px;
		border-radius: 0;
		border-width: 1px 0;
		h2 {
			font-size: 100%;
		}
	}
}