// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_person, .person_new {
	label {
		width: 15%;
	}
	input[type=text] {
		margin:4px;
		padding-left: 7px;
	}
}