// Place all the styles related to the promotions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1.promotions {
  margin-top: 21px;
}

.promo_intro {
  h2 {
    border: 0;
    background-color: transparent;
    padding-left: 0;
    font-size: 1.5rem;
  }
}

.pdf {
  font-size: smaller;
}

.image-placeholder {
  display: table-cell;
  min-height: 280px;
  height: 280px;
}

.promotion-book-list {
  border-top: solid #951936 4px;
  img {
    width: 240px;
    max-height: 330px;
    max-width: 100%;
    display: table-cell;
  }
  .promo-book-title {
    font-weight: 600;
  }
  .promo-book-blurb {
    font-size: .94rem;
    color: #000;
  }
}

i.fa {
  float: right;
  padding-right: 14px;
  padding-top: 7px;
  font-size: larger;
}