<div class="row">
	<div class="col">
		<h1>Promotions</h1>
	</div>
</div>

<div class="row">
	<div class="col">
	<ul class="list-unstyled list-group" id="series-list">

	<% @promotions.each do |promotion| %>
		<li class="promotion">
      <div class="row">
        <div class="col col-10 col-lg-11">
          <%= link_to promotion.title, promotion_path(promotion), :style=>'font-size: 115%;' %>
        </div>
        <div class="col col-1">
          <span class="badge badge-default badge-pill">
          <% unless promotion.books.nil? %>
            <%= promotion_book_count(promotion) %>
          <% end %>
          </span>
        </div>
      </div>

		</li>
	<% end %> <!-- do -->

	</ul>
	</div>
</div>
