<div id="footer" class="container">
  <div class="row">
    <div class="col text-center">
      <p>Temple University Press, TASB, 1852 N. 10th Street, Philadelphia, PA 19122<br />
        <%= link_to "© 2006-2011", {:controller=>'page', :action=>"copyright"}, :style=>"text-decoration:underline;" %> 
        <%= link_to "Temple University", "http://www.temple.edu", :target=>"new" %> | All Rights Reserved
      </p>
    </div>
  </div>
</div>
