<div class="row">
	<div class="col">
		<h1>Series</h1>
	</div>
</div>

	
<div class="row">
	<div class="col">
	<ul class="list-unstyled list-group" id="series-list">


	<% @series.each do |series| %>
		<li class="series">
		<div class="row">
			<div class="col col-md-11">
			<%= link_to series.series, 
									{:controller=>'book', :action=>'byseries', :id=>series.series_id}, 
									:style=>'font-size: 115%;' %>
			</div>
			<div class="col col-md-1">
			<span class="badge badge-default badge-pill">
			<% unless series.book.nil? %>
				<%= series_book_count(series.series_id) %>
			<% end %>
			</span>
		</div>
		</div>


			<% unless series.editors.nil? %>
			<div class="row">
				<div class="col series-editors">
					edited by <%= series.editors %><br />
					<% unless series.founder.empty? %>
						Founding editor, <%= series.founder %>
					<% end %>
				</div>
			</div>
			<% end %>
		</li>
	<% end %> <!-- do -->

	</ul>
	</div>
</div>
